@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

.mainRow {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 800px;
}

.mainCol {
  @apply flex flex-col max-w-2xl mx-12 gap-2;
}

p {
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
  background: linear-gradient(
    200.96deg,
    rgba(197, 31, 48, 1) -29.09%,
    rgba(241, 101, 36, 1) 129.35%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  background: black;
  font-family: 'rubik-thin', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

label {
  font-weight: 400;
}

body {
  position: relative;
  height: 100vh;
  background: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 20px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
}

button {
  background-image: linear-gradient(
    to right,
    rgba(197, 31, 48, 1) 1%,
    rgba(241, 101, 36, 1) 51%,
    rgba(197, 31, 48, 1) 100%
  ) !important;
  background-size: 200% auto;
  background-position: right center;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
    0 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

button:disabled {
  background-image: none !important;
  background: #ccc !important;
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.05);
  background-position: left center;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(241 101 3);
    cursor: pointer;
}

.form-select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-[1rem] rounded-lg focus:border-base-orange focus:ring-base-orange block w-full p-2.5;
}

input.text-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-base-orange focus:border-base-orange block w-full p-2.5;
}

.invalid-feedback {
    @apply text-red-500 text-sm;
}
